robotframework == 7.3.2
tzlocal == 5.3.1

robotframework-jsonlibrary == 0.5
robotframework-datadriver == 1.11.2
robotframework-requests == 0.9.7
requests == 2.32.5
robotframework-databaselibrary == 2.3.1
#robotframework-mockserver == 0.0.7
git+https://github.com/etsi-cti-admin/robotframework-mockserver.git
robotframework-robocop == 6.7.1
robotframework-tidy == 4.18.0
RESTinstance == 1.5.2

docker == 7.1.0
deepdiff == 8.6.1
psycopg2-binary == 2.9.10
python-benedict == 0.34.1

pyjwt == 2.10.1
# git+https://github.com/adiralashiva8/robotframework-metrics@v3.1.4

# below libs used for EHRBase Proxy
Flask==3.1.2
pika==1.3.2